[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backend = { editable = true, path = "." }
fastapi = "~=0.115"
fastapi-pagination = "~=0.12"
geoalchemy2 = "~=0.16"
setuptools = "*"
uvicorn = "~=0.32"
psycopg2-binary = "~=2.9"
pydantic = "~=2.9"

[dev-packages]
black = "*"
geopandas = "*"
pandas = "*"
pyarrow = "*"
shapely = "*"
snakefmt = "*"
snakemake = "*"
tqdm = "*"
ujson = "*"

[requires]
python_version = "3.12"
